.page {
    font-family: 'Inter', 'Arial', sans-serif;
    max-width: 1280px;
    min-width: 320px;
    margin: auto;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


