.cards__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-column-gap: 17px;
    grid-row-gap: 20px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}