.popup__close {
    background-image: url("../../../images/plusIcon.svg");
    background-size: cover;
    background-position: 50%;
    background-color: transparent;
    border: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -40px;
    right: -10%;
    transform: rotate(-45deg);
    z-index: 3;
    cursor: pointer;
    outline: none;
}

@media screen and (max-width: 767px) {
    .popup__close {
        right: 0;
        top: -53.62px;
        width: 26px;
        height: 26px;
    }
}