.form__input-error{
    color: #FF0000;
    font-size: 12px;
    line-height: 1.2;
    font-weight: normal;
    transition: opacity 0.3s;
    top: 35px;
    left: 0;
    opacity: 1;
    max-height: 12px;
    position: absolute;
}
