.profile__button-add {
    background-color: transparent;
    border: 2px solid #ffff;
    background-image: url("../../../images/plusIcon.svg");
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 50px;
    margin-top: 35px;
    border-radius: 2px;
    margin-left: auto;
    cursor: pointer;
}

@media screen and ( max-width: 767px) {
    .profile__button-add {
        width: 282px;
        margin-left: 0;
        align-self: center;
        background-size: 16px 16px;
    }
}