.card__button-delete{
    top: 18px;
    right: 15px;
    width:  18px;
    height: 19.3px;
    position: absolute;
    background-image: url("../../../images/Trash.svg");
    background-color: transparent;
    background-size: cover;
    cursor: pointer;
    outline: none;
    border: 0;
}

.card__button-delete:hover{
    opacity: 0.6;
}