.popup__content_type_image {
    margin: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: transparent;
    align-self: center;

}

@media screen and (max-width: 767px) {
    .popup__content_type_image {


    }
}
