.card__like-counter{
    color: red;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    max-width: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}